/* Circle */

.circle {
    border-radius: 50px;
    width: 100px;
    height: 100px;

    color:black;
    float: left;
    margin-right: 16px;

    box-shadow: 0px 0px 1px 4px black;
    font-size: 10px;
}
.circle:before, .circle:after{
    clear: both;
}
.green.circle{
    background: green;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, lightgreen 0%, green 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, lightgreen, green);
    background-image: radial-gradient(45px 45px 45deg, circle cover, lightgreen 0%, green 100%);
}
.orange.circle{
    background: darkorange;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, orangered 0%, darkorange 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, orangered, darkorange);
    background-image: radial-gradient(45px 45px 45deg, circle cover, orangered 0%, darkorange 100%);
}
.red.circle{
    background: red;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, orange 0%, red 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, orange, red);
    background-image: radial-gradient(45px 45px 45deg, circle cover, orange 0%, red 100%);
}
.yellow.circle {
    background: yellow;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}
.circle.active {
    background: white;
}
.center {
    padding: 0px 10%;
}
.meter{
    text-align: center;
    font-size: 46px;
    margin-bottom: 1em;
    margin-top: 0.5em;
    padding:0 20%;
}

a.start-game {
    font-size: 24px;
    text-align: center;
}

.container{
    margin-bottom: 1em;
}
.hide{
    display: none;
}
.show{
    display: block;
}